<div class="achievement-badge category-{{badgeCategory}} {{#if isOwned}}achievement-badge-owned{{/if}}" title="{{typeLabel}}: {{safeExtendedDescription}}">
  <div id="outline-box">
  <img src="{{iconSrc}}" id="badge-icon"/>
  <div class="achievement-title">{{description}}</div>
  {{#if isUserBadge}}
    {{#if badgeContextType}}
      <div class="achievement-count">x{{count}}</div>
    {{/if}}
  {{/if}}
  <div class="achievement-desc {{#unless isUserBadge}}achievement-desc-no-count{{/unless}}">
    {{#if isUserBadge}}
      Last achieved <abbr class="timeago" title="{{date}}">{{date}}</abbr>
      {{#if hasMultiple}}
        in 
        {{#each listContextNames}}
          <strong>{{this}}</strong>
        {{/each}}
        <span class="badge-context-hidden-link"><a href="#" onclick="Badges.showMoreContext(this);return false;">and also in<span class="ellipsis">...</span></a></span>
        <span class="badge-context-hidden" style="display:none;">
        {{#each listContextNamesHidden}}
           <strong>{{name}}{{#unless isLast}}, {{/unless}}</strong>
        {{/each}}
        </span>
      {{else}}
        {{#if targetContextName}}
          in <strong>{{targetContextName}}</strong>
        {{/if}}
      {{/if}}
    {{else}}
      {{safeExtendedDescription}}
    {{/if}}
  </div>
  {{#if points}}<div class="energy-points-badge">{{points}}</div>{{/if}}
  </div>
</div>
