<div class="achievement-badge{{#if isOwned}} achievement-badge-owned{{/if}}" id="{{badgeName}}">
  <div id="outline-box">
    <div class="achievement-title">{{badgeDescription}}</div>
    <img class="badge-icon" src="{{iconSrc}}">
    <div>
      <div class="energy-points-badge">{{pointsEarned}}</div>
      {{#if count}}<div class="achievement-count">x{{count}}</div>{{/if}}
    </div>
  </div>
</div>

