{{#if goals}}
    <div class="student-goal-title">{{ title }}</div>
    <div class="student-goals">
    {{#each goals}}
        <div class="goal pulls" data-id="{{id}}">
            <p class="goal-description">
                {{#if ../isCurrent}}
                <input type="text" name="title" class="goal-title simple-input ui-corner-all" placeholder="{{title}}" value="{{title}}"></input>
                {{else}}
                <strong>{{title}}</strong>
                {{/if}}
                {{#if ../isCurrent }}<span class="summary-light">(started {{ created_ago }})</span>{{/if}}
                {{#if ../isCompleted }}<span class="summary-light">(completed {{ completed_ago }} in {{ completed_time }})</span>{{/if}}
                {{#if ../isAbandoned }}<span class="summary-light">(abandoned {{ completed_ago }})</span>{{/if}}
                <span class="goal-controls">
                    {{#if ../isCurrent }}<a class="abandon simple-button action-gradient" href="javascript:void(0)" id="goal-abandon-{{id}}">Abandon</a>{{/if}}
                </span>
            </p>
            <ul class="inline-list objective-list">
            {{#each objectives}}
                {{>goal-objectives}}
            {{/each}}
            </ul>
        </div>
    {{/each}}
    </div>
{{else}}
    {{>goal-new}}
{{/if}}
