{{#if goals}}
  <div class="student-goal-title">{{ title }}</div>
  <div class="student-goals">
  {{#each goals}}
    <div class="goal pulls">
      <p class="goal-description">
        <strong>{{ title }}</strong> <span class="summary-light">(started {{ created_ago }})</span>
        <span class="goal-controls">
          <a class="simple-button action-gradient" href="javascript: Profile.userGoalsAbandonGoal({{id}})" id="goal-abandon-{{id}}">Abandon</a>
        </span>
      </p>
      <ul class="inline-list objective-list">
      {{#each objectives}}
        {{>goal-objectives}}
      {{/each}}
      </ul>
    </div>
  {{/each}}
  </div>
{{else}}
<div class="new-goal">
    <section class="predefined-goals">
        <a href="#">Any 5 Exercises</a>
        <a href="#">Any 5 Videos</a>
    </section>
    <section class="custom-goals">
        <a href="#">Create A Custom Goal</a>
    </section>
</div>
{{/if}}
