<style>
  #page_sub_nav {
    display: none;
  }
</style>

<menu class="profile-navigation">
    <ul class="vertical-tab-list">
        <li><a href="/profile/{{encodeURIComponent email}}" class="tab-link has-icon no-recolor" rel="profile">Darth</a></li>
        <li><a href="/profile/{{encodeURIComponent email}}/achievements" class="tab-link has-icon no-recolor" rel="profile achievements">Achievements</a></li>
        <li><a href="/profile/{{encodeURIComponent email}}/goals" class="tab-link has-icon no-recolor" rel="profile goals">Goals (beta)</a></li>
        <li>
            <span class="inactive link-section-header">Vital statistics</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="/profile/{{encodeURIComponent email}}/vital-statistics/activity" class="tab-link has-icon no-recolor" rel="profile vital-statistics activity">Activity</a></li>
                <li><a href="/profile/{{encodeURIComponent email}}/vital-statistics/focus" class="tab-link has-icon no-recolor" rel="profile vital-statistics focus">Focus</a></li>
                <li><a href="/profile/{{encodeURIComponent email}}/vital-statistics/exercise-progress" class="tab-link has-icon no-recolor" rel="profile vital-statistics exercise-progress">Exercise Progress</a></li>
                <li><a href="/profile/{{encodeURIComponent email}}/vital-statistics/exercise-progress-over-time" class="tab-link has-icon no-recolor" rel="profile vital-statistics exercise-progress-over-time">Progress Over Time</a></li>
            </ul>
        </li>
    </ul>
</menu>

<section class="tab-content">
    <div id="tab-content-user-profile">
        <div class="user-info-container vertical-shadow"></div>
        <div style="clear: both;"></div>
    </div>

    <div id="tab-content-vital-statistics">
        {{> vital-statistics}}
    </div>

    <div id="tab-content-achievements"></div>

    <div id="tab-content-goals">
        <div id="profile-goals-content"></div>
    </div>
</section>
