<p>
  <span class="graph-picker">
    <a href="javascript:GoalProfileViewsCollection.showGoalType('current')" id="goal-show-current-link" class="graph-sub-link 0">Current</a>
    <span style="display: none">| <a href="javascript:GoalProfileViewsCollection.showGoalType('completed')" id="goal-show-completed-link" class="graph-sub-link 0">Completed</a></span>
      <span style="display: none">| <a href="javascript:GoalProfileViewsCollection.showGoalType('abandoned')" id="goal-show-abandoned-link" class="graph-sub-link 0">Abandoned</a></span>
    </span>
    <a class="new-goal simple-button action-gradient disabled" href="javascript:void(0);">Create a new goal</a>
</p>
{{#if goals}}
    <div class="student-goals">
    {{#each goals}}
        {{! This element is supposed to be exactly the same as that from
        goalbook-row.handlebars. If you edit this, please also edit the other
        file to maintain consistency. }}
        <div class="goal pulls" data-id="{{id}}">
            <p class="goal-description">
                {{#if ../readonly}}
                <span class="goal-title">{{title}}</span>
                {{else}}
                <input type="text" name="title" class="goal-title simple-input ui-corner-all blur-on-esc" placeholder="{{title}}" value="{{title}}"></input>
                {{/if}}
                {{#if ../isCurrent }}<span class="summary-light">(started {{ created_ago }})</span>{{/if}}
                {{#if ../isCompleted }}<span class="summary-light">(completed {{ completed_ago }} in {{ completed_time }})</span>{{/if}}
                {{#if ../isAbandoned }}<span class="summary-light">(abandoned {{ completed_ago }})</span>{{/if}}
                {{#unless ../readonly }}
                <span class="goal-controls">
                    <a class="abandon simple-button action-gradient" href="javascript:void(0)" id="goal-abandon-{{id}}">Abandon</a>
                </span>
                {{/unless}}
            </p>
            <ul class="inline-list objective-list">
            {{#each objectives}}
                {{>goal-objectives}}
            {{/each}}
            </ul>
            <div class="clear"></div>
        </div>
    {{/each}}
    </div>
{{else}}
    {{#if readonly }}
        Student has no current goals.
    {{else}}
        {{>goal-new}}
    {{/if}}
{{/if}}
