<style>
  #page_sub_nav {
    display: none;
  }
</style>

<!-- If you drastically change the below nav, try to update the screenshots in coach.html. -->
<menu class="profile-navigation">
    <ul class="vertical-tab-list">
        <li class="profile-tab"><a href="{{profileRoot}}" class="tab-link no-recolor active-tab" rel="profile">
            <img src="{{profileData.avatarSrc}}" class="profile-tab-avatar">
            <span id="profile-tab-link" class="profile-tab-text">{{#if profileData.nickname}}{{profileData.nickname}}{{else}}Profile{{/if}}</span>
        </a></li>
        <li>
            <span class="inactive link-section-header">Accomplishments</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="{{profileRoot}}achievements" class="tab-link has-icon no-recolor" rel="achievements">Achievements</a></li>
                <li><a href="{{profileRoot}}goals" class="tab-link has-icon no-recolor" rel="goals">Goals (beta)</a></li>
            </ul>
        </li>
        <li>
            <span class="inactive link-section-header">Vital statistics</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="{{profileRoot}}vital-statistics/activity" class="tab-link has-icon no-recolor" rel="vital-statistics activity">Activity</a></li>
                <li><a href="{{profileRoot}}vital-statistics/focus" class="tab-link has-icon no-recolor" rel="vital-statistics focus">Focus</a></li>
                <li><a href="{{profileRoot}}vital-statistics/skill-progress" class="tab-link has-icon no-recolor" rel="vital-statistics skill-progress">Skill Progress</a></li>
                <li><a href="{{profileRoot}}vital-statistics/skill-progress-over-time" class="tab-link has-icon no-recolor" rel="vital-statistics skill-progress-over-time">Progress Over Time</a></li>
            </ul>
        </li>
        <li>
            <span class="inactive link-section-header">Community</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="{{profileRoot}}discussion" class="tab-link has-icon no-recolor" rel="community discussion">Discussion</a></li>
                {{#if profileData.isSelf}}
                <li><a href="{{profileRoot}}coaches" class="tab-link has-icon no-recolor" rel="community coaches">Coaches</a></li>
                {{/if}}
            </ul>
        </li>
    </ul>
</menu>

<section class="tab-content">
    <h2 class="profile-sheet-title"></h2>
    <div class="profile-notification">
        {{#if profileData.isFullyAccessible}}
            <div class="empty-graph">
                <h2><a href='/#browse'>Watch a video</a> or <a href='/exercisedashboard'>try a skill</a>!</h2>
                <p>Once you do, real data will show up here.</p>
            </div>
            <div class="error-graph">
                <h2>It's our fault.</h2>
                <p>Try again later, and please <a href='/reportissue?type=Defect'>let us know</a> if it continues.</p>
            </div>
            <div class="no-coaches-for-phantoms">
                <h2><a href="{{toLoginRedirectHref "/profile"}}">Log in</a> to add a coach!</h2>
            </div>
            <div class="no-discussion">
                <h2><a href='/#browse'>Watch a video</a> and join the discussion!</h2>
                <p>Once you do, your questions will show up here.</p>
            </div>
        {{else}}
            <div class="public">
                <h2>Oops, you're not allowed!</h2>
                <p>To view real data, you must be a coach.</p>
            </div>
        {{/if}}
    </div>
    <div class="clearfix">
        <div id="tab-content-user-profile" rel="profile">
            <div class="user-info-container"></div>
            <div style="clear: both; margin-bottom: 20px;"></div>
            {{#if profileData.isFullyAccessible}}
            <div class="activity-column">
                <div id="activity-loading-placeholder">
                    <h2>Loading activity...</h2>
                    <div id="recent-activity-progress-bar"></div>
                </div>
                <div id="activity-contents" style="display:none">
                    <div id="suggested-activity">
                        <h2>Suggested Activity</h2>
                    </div>
                    <div id="recent-activity">
                        <h2>Recently Completed Activity</h2>
                    </div>
                </div>
            </div>
            <div class="mini-stats-column">
            </div>
            {{/if}}
        </div>

        <div id="tab-content-vital-statistics" rel="vital-statistics">
            {{> profile_vital-statistics}}
        </div>

        <div id="tab-content-achievements" rel="achievements"{{#unless profileData.email}} class="empty-chart"{{/unless}}>
        </div>

        <div id="tab-content-goals" rel="goals">
            <div class="graph-picker">
                Shows your current, completed and abandoned goals.
                <ul class="tabrow">
                    <li class="type current">
                        <a href="{{profileRoot}}goals/current" class="graph-link no-recolor">Current</a>
                    </li>
                    <li class="type completed">
                        <a href="{{profileRoot}}goals/completed" class="graph-link no-recolor">Completed</a>
                    </li>
                    <li class="type abandoned">
                        <a href="{{profileRoot}}goals/abandoned" class="graph-link no-recolor">Abandoned</a>
                    </li>
                    <li>
                        <a class="new-goal simple-button action-gradient disabled" href="javascript:void(0);">Create a new goal</a>
                    </li>
                </ul>
            </div>
            <div id="profile-goals-content"></div>
        </div>
        <div id="tab-content-coaches" rel="coaches">
        </div>
        <div id="tab-content-discussion" rel="discussion" style="width: 60%">
            <div class="graph-picker">
                Shows the questions that you've asked.
            </div>
        </div>
        <div id="tab-content-settings" rel="settings">
        </div>
    </div>
</section>
