<div style="margin-left: -10px;">
{{#if this.length}}
    {{#each this}}
    <div style="font-size: 14px;">
        <ul>
        <li>
            <div class="question clearfix {{#if hasUnread}}unread{{/if}} visited-no-recolor">
                <div style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                <a class="discussion-link" href="/{{topicSlug}}/v/{{video.readableId}}?qa_expand_key={{qaExpandKey}}">{{pluralize answererCount "person"}} answered your question</a>
                <span>{{content}}</span>
                </div>
                on "<a href="/{{topicSlug}}/v/{{video.readableId}}" style="color: #777">{{video.title}}</a>"
                <div class="timeago" title="{{lastDate}}">{{lastDate}}</div>
            </div>
        </li>
        </ul>
    </div>
    {{/each}}
{{/if}}
</div>
