<li class="activity-video clearfix {{#if activity.isVideoCompleted}}completed{{/if}}">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Watched <span class="video-minutes">{{secondsToTime activity.secondsWatched}}</span> of <a href="{{activity.relativeUrl}}">{{activity.videoTitle}}</a>
            </div>
        </div>
        <div class="activity-controls clearfix">
	        <span class="time timeago" title="{{activity.dt}}">{{activity.dt}}</span>
	    </div>
    </div>
</li>
