<li class="activity-exercise clearfix{{#if activity.earnedProficiency}} proficient{{/if}}">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Answered <span class="problem-count">{{#unless isViewMobile}}<a href="{{ profileRoot }}/vital-statistics/exercise-problems/{{activity.exercise}}">{{/unless}}{{ activity.cProblems }} problem{{pluralize activity.cProblems}}{{#unless isViewMobile}}</a>{{/unless}}</span>{{#if activity.earnedProficiency}} to achieve proficiency{{/if}} in {{activity.exerciseDisplayName}}
            </div>
        </div>
        <div class="activity-controls">
            <span class="time timeago" title="{{activity.dt}}">{{activity.dt}}</span>
        </div>
    </div>
</li>

