<li class="activity-badge clearfix">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Earned <a href="{{profileRoot}}/achievements" data-category="{{badge.badgeCategory}}" class="badge-link category-{{badge.badgeCategory}}">{{badge.description}}</a> {{#if userBadge.targetContextName}}for {{ userBadge.targetContextName }}{{/if}}
            </div>
        </div>
        <div class="activity-controls clearfix">
            <span class="time timeago" title="{{dt}}">{{dt}}</span>
            {{#unless mobileView}}
                <a href="#" class="activity-share simple-button action-gradient">Share</a>
            {{/unless}}
        </div>
    </div>

</li>
