<li class="activity-goal clearfix{{#if goal.completedTime}} completed{{/if}}">
    <span class="activity-image"></span>
    <div class="ach-text">
        Completed the goal <a href="{{profileRoot}}/goals/completed">{{goal.title}}</a> after working toward it for {{goal.completedTime}}
        <div class="activity-controls">
	        <span class="time timeago" title="{{dt}}">{{dt}}</span>
	        {{#unless mobileView}}
	            <a href="#" class="activity-share simple-button action-gradient">Share</a>
	        {{/unless}}
	    </div>
    </div>
</li>

