<li class="activity-badge clearfix">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Earned {{#unless isViewMobile}}<a href="{{profileRoot}}/achievements" data-category="{{activity.badge.badgeCategory}}" class="badge-link category-{{activity.badge.badgeCategory}}">{{/unless}}{{activity.badge.description}}{{#unless isViewMobile}}</a>{{/unless}} {{#unless activity.badge.hideContext}}{{#if activity.userBadge.targetContextName}}for {{ activity.userBadge.targetContextName }}{{/if}}{{/unless}}
            </div>
        </div>
        <div class="activity-controls clearfix">
            <span class="time timeago" title="{{activity.dt}}">{{activity.dt}}</span>
        </div>
    </div>

</li>
