Answered <span class="problem-count">{{#unless mobileView}}<a href="{{ profileRoot }}/vital-statistics/exercise-problems/{{problemLog.exercise}}">{{/unless}}{{ cProblems }} problem{{pluralize cProblems}}{{#unless mobileView}}</a>{{/unless}}</span>{{#if earnedProficiency}} to achieve proficiency{{/if}} in {{exerciseDisplayName}}
