<li class="activity-goal clearfix{{#if activity.goal.completedTime}} completed{{/if}}">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Completed the goal {{#unless isViewMobile}}<a href="{{profileRoot}}/goals/completed">{{/unless}}{{activity.goal.title}}{{#unless isViewMobile}}</a>{{/unless}} after working toward it for {{activity.goal.completedTime}}
            </div>
        </div>
        <div class="activity-controls clearfix">
	        <span class="time timeago" title="{{activity.dt}}">{{activity.dt}}</span>
	    </div>
    </div>
</li>

