Earned <a href="{{profileRoot}}/achievements" data-category="{{badge.badgeCategory}}" class="badge-link category-{{badge.badgeCategory}}">{{badge.description}}</a> {{#if userBadge.targetContextName}}for {{ userBadge.targetContextName }}{{/if}}
