{{#if exercises}}
    <h3>Exercises</h3>
    <div class="activity-list suggested-list">
        <ul>
        {{#each exercises}}
            <li class="activity-exercise clearfix">
                <span class="activity-image"></span>
                <div class="ach-text">
                    <a href="{{url}}">{{name}}</a>
                    <div class="activity-controls">
                    {{#with streakBar}}{{> streak-bar}}{{/with}}
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
{{/if}}

{{#if videos}}
    <h3>Videos</h3>
    <div class="activity-list suggested-list">
        <ul>
        {{#each videos}}
            <li class="activity-video clearfix">
                <span class="activity-image"></span>
                <div class="ach-text">
                    <a href="{{url}}">{{name}}</a>
                    <div class="activity-controls">
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
{{/if}}

{{#if goals}}
    <h3>Goals</h3>
    {{#each goals}}
        <p>Complete {{name}} by going to <a href="{{url}}">{{description}}</a></p>
    {{/each}}
{{/if}}
