{{#if isSelf}}
<a href="javascript:''" id="edit-visibility"
    class="visibility-toggler {{#if isPublic}}public{{else}}private{{/if}}">Profile is {{#if isPublic}}public{{else}}private{{/if}}</a>
<div id="username-picker-container" class="modal fade hide" style="display: none;">
</div>
{{/if}}

<section class="user-info vertical-shadow clearfix">

    <section class="basic-user-info" style="float: left;">
      <div class="avatar-pic-container{{#if isSelf}} editable{{/if}}" style="float:left;" >
        <img src="{{avatarSrc}}" id="avatar-pic" class="avatar-pic" >
        <div class="avatar-change-overlay" style="display: none">Change avatar</div>
      </div>
      <div class="user-deets">
          {{#if isSelf}}
              <input type="text" value="{{nickname}}"
                  placeholder="Enter nickname here" class="inline-editable nickname" style="display: block;">
          {{else}}
            <div>
                <span class="nickname">{{nickname}}</span>
            </div>
          {{/if}}
          <div>
              <span>Joined <abbr class="timeago" title="{{dateJoined}}">{{dateJoined}}</abbr></span>
          </div>
          <div class="user-profile-controls">
          {{#if isSelf}}
              <ul class="dropdown">
                  <li>
                      <span id="edit-profile" class="simple-button action-gradient">Edit profile</span>
                      <ul class="sub_menu">
                        <li><a id="edit-basic-info" href="#">Edit basic info</a></li>
                        <li><a id="edit-display-case" href="#">Edit display case</a></li>
                        <li><a id="edit-avatar" href="#">Edit avatar</a></li>
                        <li><a id="edit-privacy-setting" href="#">Edit privacy setting</a></li>
                      </ul>
                  </li>
              </ul>
          {{else}}
              <a href="javascript:''" class="add-remove-coach simple-button action-gradient" style="{{#if isCoachingLoggedInUser}} display: none;{{/if}}">Add as a coach</a>
              <a href="javascript:''" class="add-remove-coach simple-button action-gradient" style="{{#unless isCoachingLoggedInUser}} display: none;{{/unless}}">Remove as a coach</a>
          {{/if}}
          </div>
          <div class="basic-stats clearfix">
              <div class="simple-stat"><img class="summary-icon star" src="/images/profile-icons/inset-star.png">{{countExercisesProficient}}/{{countExercises}}</div>
              <div class="simple-stat"><img class="summary-icon" src="/images/profile-icons/inset-camera.png"> {{countVideosCompleted}}/{{countVideos}}</div>
              <div class="simple-stat"><span title="{{points}} energy points" class="energy-points-badge" style="float:none; display:block; margin-bottom: 1px; margin-top: 2px; padding:0; line-height: 20px;">{{points}}</span> Energy Points</div>
          </div>
      </div>
    </section>
    <div class="sticker-book">
        <a class="display-case-cover" href="javascript:''"></a>
    </div>

</section>
