<div id="student-profile-nav">
  <div id="top-nav">
  <a href="{{toLegacyGraphURL "activity" email "" ""}}" class="graph-link graph-link-header">Activity</a>
  <a href="{{toLegacyGraphURL "focus" email "" ""}}" class="graph-link graph-link-header">Focus</a>
  <a href="{{toAPIGraphURL "user" "exercises" email "" ""}}" class="graph-link graph-link-header">Exercise Progress</a>
  <a href="{{toLegacyGraphURL "exercisesovertime" email "" ""}}" class="graph-link graph-link-header">Exercise Progress Over Time</a>
  <a href="{{toAPIGraphURL "user" "goals" email "" ""}}" class="graph-link graph-link-header">Goals <span class="feature-beta-tag">(beta)</span></a>
  </div>
  <div style="clear: both;"></div>

  <p class="vital-statistics-description">
      Shows how much work you're doing each day.
      {{#accordion-graph-date-picker-wrapper type="activity"}}
        {{> accordion-graph-date-picker}}
      {{/accordion-graph-date-picker-wrapper}}
  </p>
  <p class="vital-statistics-description">
      Shows how well you've focused on exercises and video playlists.
      {{#accordion-graph-date-picker-wrapper type="focus"}}
        {{> accordion-graph-date-picker}}
      {{/accordion-graph-date-picker-wrapper}}
  </p>
  <p class="vital-statistics-description">
      Shows you which exercises you've worked on and completed.
      <span class="graph-options">
          <span class="progress-legend exercise-color started">Started</span>
          <span class="progress-legend exercise-color proficient">Proficient</span>
          <span class="progress-legend exercise-color review light">Review</span>
          <span class="progress-legend exercise-color struggling">Struggling</span>
      </span>
  </p>
  <p class="vital-statistics-description">Shows how many exercises you've completed over time.</p>
  <p class="vital-statistics-description">
    Shows progress on your current goals.
    <span class="graph-picker">
      <a href="javascript:Profile.showGoalType('current')" id="goal-show-current-link" class="graph-sub-link 0">Current</a>
      <span style="display: none">| <a href="javascript:Profile.showGoalType('completed')" id="goal-show-completed-link" class="graph-sub-link 0">Completed</a></span>
        <span style="display: none">| <a href="javascript:Profile.showGoalType('abandoned')" id="goal-show-abandoned-link" class="graph-sub-link 0">Abandoned</a></span>
      </span>
      <a class="new-goal simple-button action-gradient disabled" href="javascript:void(0);">Create a new goal</a>
  </p>

</div>



<div id="vital-statistics">
  <div id="stats-charts" class="fancy-scrollbar -ce-capture">
    <div id="graph-control-container">
        <div id="graph-container">
            <div id="graph-progress-bar"></div>
            <div id="graph-content"></div>
        </div>
    </div>
  </div>
</div>