<div>
  <div>
    <div class="title">{{ title }}</div>
    <div class="description">{{ description }}</div>
  </div>
  <ol>
  {{#each children }}
    <li class="video-link"><a href="{{ url }}" data-tag="Topic Page Library"><span class='vid-progress v{{ key_id }}'>{{ title }}</span></a></li>
  {{/each }}
  </ol>
</div>
