<div>
  <div data-role="header" class="main-header">
    <div class="topic-video thumbnail_td">
      <a href="{{ topicInfo.marqueeVideo.href }}" data-tag="Topic Page Root Featured" data-youtube-id="{{ topicInfo.marqueeVideo.youtubeId }}" class="thumbnail_link modal-video">
        <div class="thumb" style="background-image:url('{{ topicInfo.marqueeVideo.thumbUrls.hq }}')"></div>
        <div class="thumbnail_label"><div class="thumbnail_desc">{{{ topicInfo.marqueeVideo.descHtml }}}</div><div class="thumbnail_teaser">{{{ topicInfo.marqueeVideo.teaserHtml }}}</div></div>
      </a>
    </div>
    <div class="topic-info">
      <div class='topic-title'>{{ topicInfo.topic.title }}</div>
      <div class='topic-desc'>{{{ topicInfo.topic.description }}}</div>
    </div>
  </div>
  <div class="subtopic-header">Topics</div>
  <div class="subtopic-list-container row-fluid">
    <div class="subtopics-list first span6">
      {{#each subtopicsA }}
        <div class="subtopic thumbnail_td {{#if notFirst }}not-first{{else}}first{{/if}}">
          <a class="subtopic-link-and-scroll row-fluid" data-tag="Topic Page Root Subtopic" href="/{{ ../extendedSlug }}/{{ id }}" data-id="{{ id }}">
            <div class="thumb">
              <img src="{{ thumbnailLink.thumbUrls.hq }}">
            </div>
            <div class="topic-info">
              <div class="topic-title">{{ title }}</div>
              <div class="topic-description">{{{ ellipsis description descriptionTruncateLength }}}</div>
              <div class="topic-video-count">Browse {{ childCount }} videos</div>
            </div>  
          </a>
        </div>
      {{/each}}
    </div>
    <div class="subtopics-list second span6">
      {{#each subtopicsB }}
        <div class="subtopic thumbnail_td {{#if notFirst }}not-first{{else}}first{{/if}}">
          <a class="subtopic-link-and-scroll row-fluid" data-tag="Topic Page Root Subtopic" href="/{{ ../extendedSlug }}/{{ id }}" data-id="{{ id }}">
            <div class="thumb span4">
              <img src="{{ thumbnailLink.thumbUrls.hq }}">
            </div>
            <div class="topic-info span8">
              <div class="topic-title">{{ title }}</div>
              <div class="topic-description">{{{ ellipsis description descriptionTruncateLength }}}</div>
              <div class="topic-video-count">Browse {{ childCount }} videos</div>
            </div>  
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
