<div class="hover-card-container">
    <div class="hover-card-triangle"></div>
    <div class="hover-card-content-container vertical-shadow {{#if isInaccessible}}inaccessible{{/if}}">
        <div class="hover-card-content clearfix">
            <div class="avatar-pic-container">
                <img src="{{avatarSrc}}" style="width: 50px; height: 50px;">
            </div>
            <div class="user-info">
                {{#if isInaccessible}}
                    <span class="nickname">This user is hiding.</span>
                {{else}}
                    <span class="nickname"><a href="#">{{nickname}}</a></span>
                {{/if}}

                <div class="badge-container">
                    <img src="/images/badges/arithmetic.png">
                    <img src="/images/badges/moon-small.png">
                    <img src="/images/badges/sun-small.png">
                    <img src="/images/badges/earth-small.png">
                    <img src="/images/badges/meteorite-small.png">
                </div>
            </div>
            <div class="user-stats">
                <div class="points"><span style="font-size: 150%">{{commafy points}}</span> <span style="color: #999">points</span></div>
                <div class="join-date">Joined <abbr class="timeago" title="{{dateJoined}}">{{dateJoined}}</abbr></div>
            </div>
        </div>
    </div>
</div>
