<div class="exercise-badge" data-id="{{ name }}">
  <div class="proficient-badge">
    <img src="{{ badgeIcon }}" height="80" width="76">
    <div class="exercise-goal-icon" style="display: none"><img src="/images/flag.png"></div>
  </div>
  <div class="energy-points-badge">{{ points }}</div>
  <div class="exercise-title"><a href="javascript: KnowledgeMap.nodeClickHandler(KnowledgeMap.dictNodes['{{ name }}'], null);">{{ display_name }}</a></div>
  <span class="exercise-show simple-button action-gradient" data-id="name" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>
  {{#with streak_bar}}{{>streak-bar}}{{/with}}
</div>
