<div class="leaves">
    {{#if done}}
        Earned {{leavesEarned}} leaves
    {{else}}
        Possible to earn {{leavesAvailable}} leaves
    {{/if}}

    LEAF 1: {{leaves.0.state}}
    LEAF 2: {{leaves.1.state}}
    LEAF 3: {{leaves.2.state}}
    LEAF 4: {{leaves.3.state}}
    LEAF 5: {{leaves.4.state}}

</div>
