<div>
    END OF STACK!!!
    <br><br>
    longest streak: {{longestStreak}}<br>
    longest speed streak: {{longestSpeedStreak}}<br>
    leaves: {{totalLeaves}}<br>

    Progress:
    {{#each progress}}
        * {{exerciseName}}: {{end}} (change: {{change}})<br>
    {{/each}}
</div>
