<div class="end-of-stack-info">
    <div class="title clearfix">
        <div class="stack-stats">
            <p data-desc="Your longest streak in this stack.">
            	<img src="/images/power-mode/streak.png" /><span class="times">&times;</span>{{longestStreak}}
           	</p>
            <p data-desc="Your total speedy answers for this stack.">
            	<img src="/images/power-mode/speed-answer.png" /><span class="times">&times;</span>{{speedyCards}}
            </p>
            <p data-desc="Your total leaves for this stack.">
            	<img src="/images/power-mode/card-leaf-full-large.png" /><span class="times">&times;</span>{{totalLeaves}}
            </p>
        </div>
        <h1>TOTAL STACK DOMINATION</h1>
    </div>
    <div class="progress-graph current-stack">
	    {{#each progress}}
	    	<div class="skill-status">
		    	<h2 class="skill-bar-title">{{displayName}} ({{#if userExercise.exerciseStates.proficient}}*proficient*{{/if}})</h2>
		    	<div class="skill-bar orange">
		    		<div class="fill green" style="width:{{multiply end 100}}%;"></div>
		    		{{#if userExercise.exerciseStates.proficient}}
		    		<div class="fill blue" style="width:{{multiply end 100}}%;"></div>
		    		{{else}}
		    		<div class="fill gray" style="width:{{multiply start 100}}%;"></div>
		    		{{/if}}
		        </div>
		    </div>
	    {{/each}}
    </div>
    <div class="progress-graph current-topic clearfix">
    {{#each topicUserExercises}}
    	<div class="skill-status">
	    	<h4 class="skill-bar-title">
	    		{{exerciseModel.displayName}} ({{#if exerciseStates.proficient}}*proficient*{{/if}})
	    	</h2>
	    	<div class="skill-bar orange">
	    		<div class="fill green" style="width:{{multiply progress 100}}%;"></div>
	    		{{#if exerciseStates.proficient}}
	    		<div class="fill blue" style="width:{{multiply progress 100}}%;"></div>
	    		{{/if}}
	        </div> 
        </div>
    {{/each}}
    </div>
    <div class="stack-controls">
      <!-- TODO Jason/Kamens: Get real URLs in here -->
      <a href="/exercisedashboard" class="simple-button action-gradient left">Take a Break</a><a href="/math/arithmetic/addition-subtraction/e/" class="simple-button action-gradient green right">More Stacks!</a>
    </div>
</div>
