<div class="end-of-stack-info">
    <div class="title clearfix">
        <div class="stack-stats">
            <p>{{longestStreak}} Streak!</p>
            <p>{{longestSpeedStreak}} Speedy Answers</p>
            <p>{{totalLeaves}} Leaves</p>
        </div>
        <h1>TOTAL STACK DOMINATION</h1>
    </div>
    <div class="progress-graph">
	    {{#each progress}}
	    	<h2 class="skill-bar-title">{{exerciseName}}</h2>
	    	<div class="skill-bar orange">
	    		<div class="fill" style="width:{{end}}%;">
	    			<div class="description">
		    			{{end}} (change: {{change}})
		    		</div>
	    		</div>
	        </div>
	    {{/each}}
    </div>
    <div class="stack-controls">
      <!-- TODO Jason/Kamens: Get real URLs in here -->
      <a href="/exercisedashboard" class="simple-button action-gradient left">Take a Break</a><a href="/math/arithmetic/addition-subtraction/e/" class="simple-button action-gradient green right">More Stacks!</a>
    </div>
</div>
