<h2 class="section-headline">
{{#if reviewMode}}
Review
{{else}}
    {{#if practiceMode}}
    {{practiceExercise.displayName}}
    {{else}}
    <img class="topic-exercise-badge" src="{{topicExerciseBadge.icons.compact}}"> {{topic.standaloneTitle}}
    {{/if}}
{{/if}}
</h2>
